h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.langBtn {
  background-color: #014f86;
  color: white;
  border: none;
  border-radius: 6px;
  padding-left: 2px;
}

.langBtn:hover {
  background-color: #013a63;
  cursor: pointer;
}
